<header class="p-10">
  <h1 class="text-violet-500 text-center text-4xl font-bold">Lista De Ciudades</h1>
</header>

<main class="
    flex
    flex-col
    md:flex-row
    justify-center
    gap-4
    px-4
  ">
  <div class=" w-full md:w-2/4 rounded-md p-4">
    <app-add-cities-form (cityCreated)="onCityAdded($event)" />
  </div>

  <div *ngIf="cities.length === 0" class="w-full md:w-2/4 rounded-md p-4">
    <p class="text-white text-lg font-semibold text-center">No hay ciudades en la lista de momento</p>
  </div>

  <div *ngIf="cities.length > 0" class="w-full md:w-2/4 rounded-md p-4">
    <app-city *ngFor="let city of cities" [city]="city" (cityDeleted)="onCityDeleted($event)" />
  </div>
</main>